<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Railsnew" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-b from-indigo-700 via-black to-black h-screen flex flex-col">
    <header class="flex-grow lg:w-full lg:max-w-6xl mx-4 lg:mx-auto my-6 flex flex-col lg:grid lg:grid-cols-3 items-center gap-4 bg-slate-900 shadow shadow-slate-800 rounded-xl lg:px-4 text-center hover:shadow-md hover:bg-slate-800 ease-in-out duration-300">
      <div class="flex justify-start items-center gap-4 px-4">
        <h1 class="lg:text-2xl font-bold font-mono">
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400">
            RailsNew
          </span>
        </h1>
      </div>

      <nav class="flex justify-center items-center text-md lg:text-lg gap-4 col-span-1 order-3 lg:order-2 lg:flex-1">
        <%= link_to "New App", root_path, class: "font-semibold text-indigo-500 hover:text-slate-200 px-3 py-1.5 rounded-lg hover:bg-indigo-400 ease-in-out duration-300" %>
      </nav>

      <div class="flex justify-end items-center order-2 lg:order-3">
        
        <% if authenticated? %>
          <div class="flex items-end gap-4 hidden">
            <span class="px-2 py-1 rounded-lg bg-indigo-600 text-white inline-block font-medium cursor-pointer">
              <%= Current.user.slug %>
            </span>
            <%= button_to "Logout", session_path, method: :delete, class: "rounded-lg px-3 py-1.5 bg-red-600 text-white inline-block font-medium cursor-pointer" %>
          </div>
        <% else %>
          <%= link_to "Log in", new_session_path, class: "font-semibold text-indigo-500 hover:text-slate-200 px-3 py-1.5 rounded-lg hover:bg-indigo-400 ease-in-out duration-300" %>
        <% end %>
        
      </div>
    </header>

    <main class="flex-grow px-4 h-[calc(100vh-20vh)] ">
      <%= yield %>
    </main>

    <footer class="w-full lg:container mx-auto flex justify-between px-8 py-2">
      <p class="text-sm text-slate-300">
        <%= t('footer.idea_inspired') %> 
        <a href="https://github.com/ciscoLegrand/railsnew/issues/7" class="underline hover:text-indigo-400 transition ease-in-out duration-300">
          <%= t('footer.unknown_author') %>
        </a>.
        <strong><%= t('footer.help_credit') %></strong> 
        <a href="https://github.com/ciscoLegrand/railsnew/issues/7" class="underline hover:text-indigo-400 transition ease-in-out duration-300">
          <%= t('footer.contribute_here') %>
        </a>.
      </p>

      <p class="text-xs text-end text-slate-400">
        <%= t('footer.made_with_love') %>
        <span class="text-lg text-red-500 animate-pulse duration-500 ease-in-out">❤️</span>
        <a href="https://github.com/ciscolegrand" class="text-base font-semibold text-indigo-500">Cisco González</a> <%= Date.today.year %>
      </p>
    </footer>
  </body>
</html>
